* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: 'microsoft YaHei';
  line-height: 1.5;
}
a,
button,
input,
li,
p,
div {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

a {
  text-decoration: none;
}
img {
  width: 100%;
}
em {
  font-style: normal;
}


/* carrigr Template */

.d-none{
	display: none;
}

/* wrap */
.warp{
	width: 100%;
	padding: 15px;
	height: auto;
	overflow: hidden;
}
.set{
	position:relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 15px 0;
	display: flex;
	background: -webkit-linear-gradient(rgba(31, 130, 38, 0.48), #6d9870); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(rgba(31, 130, 38, 0.48), #6d9870);; /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(rgba(31, 130, 38, 0.48), #6d9870); /* Firefox 3.6 - 15 */
	background: linear-gradient(rgba(31, 130, 38, 0.48), #6d9870); /* 标准的语法 */
}

.select-wrapper{
	margin: 0 15px;	
}
.select-wrapper .label{
	font-size: 13px;
}
.imgUplod{
	display: block;
}
.imgUplod .label{
	display: block;
	float: left;
	font-size: 13px;
}
.imgUplod .input-group{
	height: 24px;
}
.imgUplod .input-group input{
	height: 24px;
}


.order-content{
		position:relative;
		width:100%;
		height:500px;
		border:1px solid #1B6D85;
		padding: 15px;
		margin-bottom: 15px;
		background: -webkit-linear-gradient(180deg,rgba(179, 236, 223, 0.48), rgba(159, 216, 169, 0.23));; /* Safari 5.1 - 6.0 */
		background: -o-linear-gradient(180deg,rgba(179, 236, 223, 0.48), rgba(159, 216, 169, 0.23);; /* Opera 11.1 - 12.0 */
		background: -moz-linear-gradient(180deg,rgba(179, 236, 223, 0.48), rgba(159, 216, 169, 0.23); /* Firefox 3.6 - 15 */
		background: linear-gradient(rgba(180deg,rgba(179, 236, 223, 0.48), rgba(159, 216, 169, 0.23)); /* 标准的语法 */
		cursor: pointer;
	}

